@import "../../scss/variables";


.navigation {
    background: -moz-linear-gradient(top, rgba($primary-color,1) 0%, rgba($primary-color,1) 51%, rgba($primary-color,1) 65%, rgba($primary-color,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba($primary-color,1) 0%,rgba($primary-color,1) 51%,rgba($primary-color,1) 65%,rgba($primary-color,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba($primary-color,1) 0%,rgba($primary-color,1) 51%,rgba($primary-color,1) 65%,rgba($primary-color,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}

.hexagon-nav {
    position: absolute;
    top: calc(-#{$big-hex-w} * 0.28);
    right: calc(-#{$big-hex-w} * 0.35);
}

.big-hex {
  height: $big-hex-w;
  width: $big-hex-w;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  div {
    padding-left: 15px;
    padding-right: 15px;
    width: calc(#{$big-hex-w} * 0.65);
  }
}

.big-hex:before {
  top: $big-hex-b;
  left: $big-hex-b;
  height: calc(100% - 2 *#{$big-hex-b});
  width: calc(100% - 2 *#{$big-hex-b});
}
.small-hex {
  height: $small-hex-w;
  width: $small-hex-w;
}

.small-hex:before {
  top: $small-hex-b;
  left: $small-hex-b;
  height: calc(100% - 2 *#{$small-hex-b});
  width: calc(100% - 2 *#{$small-hex-b});
}
.hexagon {
  position: relative;
  background: $secondary-color;
}

.hexagon,
.hexagon:before {
  -webkit-clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon:before {
  position: absolute;
  content: "";
  background: $primary-color;
  z-index: -1;
}
